body {
    font-family: Arial;
    text-align: center;
    color: white;
    padding: 30px;
    background: linear-gradient(120deg,#ff9966,#ff5e62);
    background-attachment: fixed;
    background-size: cover; /* assure que le fond couvre toute la fenêtre */
    min-height: 100vh;      /* pour être sûr que ça couvre même si contenu peu */
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

section { 
    margin-top: 40px; 
    background: transparent;
    padding: 20px;
} 
input, button { 
    padding: 10px; 
    margin: 5px; 
    font-size: 16px; 
} 
button { 
    cursor: pointer; 
    border: none; 
    border-radius: 6px; 
} 
table { 
    margin: auto; 
    background: white; 
    color: black; 
    border-collapse: collapse;
    margin-top: 20px; 
} 
td, th { 
    padding: 10px; 
    border: 1px solid black; 
}

#quizContainer img {
    width: 150px;        /* largeur fixe pour toutes */
    height: auto;        /* hauteur proportionnelle */
    border-radius: 8px;
    margin: 5px;
    background: #fff;    /* pour voir l’espace si image petite */
}

#quizContainer div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;  /* espace entre les images */
}




