body {
    font-family: Arial;
    text-align: center;
    background: linear-gradient(120deg, #ff9966, #ff5e62);
    color: white;
    padding: 30px;
}

section {
    margin-top: 40px;
}

input, button {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
}

button {
    cursor: pointer;
    border: none;
    border-radius: 6px;
}

.question {
    margin: 15px 0;
}

.question button {
    margin: 5px;
    min-width: 80px;
}
